html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 850px;
  margin: 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.main-div-top {
  width: 715px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  color: white;
  font-family: 'Righteous', cursive;
  margin: 5px 0px;
  font-size: 40px;
}

i {
  color: white;
  font-family: sans-serif, 'FontAwesome';
  font-size: 30px;
  padding-left: 15px;
}

.main-div-bottom {
  display: flex;
  justify-content: center;
}

#entry-modal {
  background-color: black;
  height: 800px;
  width: 1300px;
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
  display: flex;
  justify-content: center;
  z-index: 3;
}

#entry-modal-first {
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

#entry-modal > div > div {
  padding: 20px;
  font-family: 'Righteous', cursive;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 900px;
}

#game-background {
  background-color: purple;
  background-image: url("../assets/background_wbar2.png");
  position: relative;
  height: 718px;
  width: 1150px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.game-instructs {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 13px;
  text-align: right;
  padding-right: 15px;
  padding-top: 5px;
}

.game-instructs1 {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 13px;
  text-align: right;
  padding-right: 15px;
}

span {
  color: #ea2406;
}

#footer {
  color: white;
  font-size: 20px;
  display: flex;
  background-color: black;
  justify-content: space-around;
  padding: 10px 0px;
  width: 1150px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  font-family: 'Righteous', cursive;
  z-index: 10;
}

#footer a {
  color: white;
  text-decoration: none;
  font-family: 'Righteous', cursive;
}